<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>T99 Calculator</title> 
  <link rel="stylesheet" href="../styles/style_1.css">
</head>
<body>
  <div class="container"> 
    <div class="home-title">
      <h1>T99 Calculator</h1>
    </div>
    <div class="home-about">
      <h2>What is T99?</h2>
      <p>something<br>like a<br>
      paragraph<br>or two explaining<br>
      the fundamental</p>
    </div> 
    <div id="input-title">
      <h3 style="display: none;">Enter a SMILES String!</h3>
      <p class="note-smile" 
         {% if note_smile.error %}note--appear{% else %}note--disappear{% endif %}
         >NOTE: The server relies on canonical SMILES strings! Try again.</p>

    </div>
    
